.container {
    margin-left: 265px;
    width: 100%;
}

.recent {
    margin-top: 2rem;
    padding: 15px;
    border-radius: 10px;
}
.card{
    box-shadow: 0px 2px 5px rgb(0, 0,0, 0.2);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    margin-right: 20px;
}

.recent h1 {
    font-size: 20px;
}
.container-table {
    overflow: auto;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container-table table {
    width: 100%;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #e6e8ec;
    border-collapse: collapse;
    padding: 10px;
}

.recent th {
    background-color: #f9fafb;
    border-bottom: 1px solid #e6e8ec;
    padding: 10px;
    color: #4b5563;
}

.recent td {
    padding: 10px;
    border-bottom: 1px solid #e6e8ec;
    color: #374151;

}
.recent .action{
    display: flex;
    gap: 10px;
}
.action .approve, .reject{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white
}
.action .approve{
    background-color:  #22c55e;
}
.action .reject{
    background-color:  #ef4444;

}
.container-table .pending{
    background-color: #ffe28a;
    color: rgb(209, 138, 6);
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}
.container-table .approved{
    color: green;
    background-color: #bcfcc9;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}
.container-table .rejected{
    color: #ef4444;
    background-color: #fcbcbc;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
}
.error-message{
    padding: 10px;
    margin: 15px 5px;
    color: #ef4444;
    background-color: #ffebeb;
    border-left: 2px solid #ef4444;
}
.success-message{
    padding: 10px;
    margin: 10px 17px;
    color: green;
    background-color: #bcfcc9;
    border-left: 2px solid green;
}

@media screen and (max-width:965px) {
    .container{
        margin-left: 0;
    }
}