main{
    display: flex;
    flex:1;
}
.student-payments {
    display: flex;
    flex-direction: column;
    margin-left: 265px;
    width: 100%;
}

.student-payments h1 {
    margin-bottom: 0;
    padding: 0;
    color: #1f2937;
}

.room-list {
    padding: 0px 20px;
    padding-bottom: 20px;
}

.room-list h1 {
    font-size: 20px;
}

.container {
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
}

.container-table {
    padding: 5px 20px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #eff6ff;
}

.container-table h1 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}

.container-table p {
    margin-bottom: 0;
    color: #6b7280;
    margin-top: 5px;
    font-size: 12px;
}

.submit {
    padding: 10px 20px;
    background-color: #3b82f6;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
    width: 100%;
}
.error-message{
    padding: 10px;
    margin: 15px 5px;
    color: #ef4444;
    background-color: #ffebeb;
    border-left: 2px solid #ef4444;
}
.success-message{
    padding: 10px;
    margin: 10px 17px;
    color: green;
    background-color: #bcfcc9;
    border-left: 2px solid green;
}

footer {
    background-color: #111827;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 4rem;
}
.recent {
    margin-top: 2rem;
    padding: 15px;
    border-radius: 10px;
}
.card{
    box-shadow: 0px 2px 5px rgb(0, 0,0, 0.2);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    margin-right: 20px;
}

.recent h1 {
    font-size: 20px;
    padding-bottom: 20px;
}
.table-container {
    overflow: auto;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
}

.table-container table {
    width: 100%;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #e6e8ec;
    border-collapse: collapse;
}

.recent th {
    background-color: #f9fafb;
    border-bottom: 1px solid #e6e8ec;
    padding: 10px;
    color: #4b5563;
}

.recent td {
    padding: 0px 10px;
    border-bottom: 1px solid #e6e8ec;
    color: #374151;

}
.recent tr:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);

}
.table-container .pending,.approved,.rejected{
    border-radius: 10px;
    text-align: center;
    max-width: 60%;
}
.table-container .pending{
    background-color: #ffe28a;
    color: rgb(209, 138, 6);
}
.table-container .approved{
    color: green;
    background-color: #bcfcc9;
}
.table-container .rejected{
    color: #ef4444;
    background-color: #fcbcbc;
}
@media screen and (max-width: 970px) {
    .student-payments{
        margin-left: 0;
        width: 100%;
        margin-top: 5rem;
        padding-left: 20px;
    }
    .table-container .pending,.approved,.rejected{
        border-radius: 10px;
        text-align: center;
        max-width: 100%;
    }
}