.student-dashboard {
    background-color: #f9fafb;
    width: 100%;
    flex: 1;
    margin-left: 265px;
}
.student-dashboard .success-login{
    background-color: #bcfcc9;
    color: #22c55e;
    margin-right: 20px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}
.student-dashboard .container {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    display: grid;
    gap: 20px;
    grid-template-areas: "info info room"
        "payment payment payment";
}

.student-dashboard .info,
.room,
.payment {
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    height: 300px;
}

.student-dashboard .info {
    grid-area: info;
}

.student-dashboard .container h1 {
    font-size: 20px;
    color: #1f2937;
}

.container-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container-info .label {
    color: #4b5563;
    margin-bottom: 2px;
    font-size: 13px;
}

.student-dashboard .room {
    grid-area: room;
}

.student-dashboard .room .room-container-none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.student-dashboard .room .room-container-none p {
    color: #6b7280;
}

.student-dashboard .room .room-container-none button {
    padding: 10px 20px;
    border: none;
    background-color: #2563eb;
    border-radius: 10px;
    cursor: pointer;
}
.student-dashboard .room .room-container-none a {
    color: white;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

.student-dashboard .room .room-container-none button:hover {
    background-color: var(--indigo);
}
.recent {
    margin-top: 2rem;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    grid-area: payment;
    overflow: hidden;
}
.card{
    box-shadow: 0px 2px 5px rgb(0, 0,0, 0.2);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    margin-right: 20px;
}

.recent h1 {
    font-size: 20px;
    padding-bottom: 20px;
}
.table-container {
        overflow: auto;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
}

.table-container table {
    width: 100%;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #e6e8ec;
    border-collapse: collapse;
}

.recent th {
    background-color: #f9fafb;
    border-bottom: 1px solid #e6e8ec;
    padding: 10px;
    color: #4b5563;
}

.recent td {
    padding: 0px 10px;
    border-bottom: 1px solid #e6e8ec;
    color: #374151;

}
.table-container .pending,.approved,.rejected{
    border-radius: 10px;
    text-align: center;
    max-width: 60%;
}
.table-container .pending{
    background-color: #ffe28a;
    color: rgb(209, 138, 6);
}
.table-container .approved{
    color: green;
    background-color: #bcfcc9;
}
.table-container .rejected{
    color: #ef4444;
    background-color: #fcbcbc;
}



@media screen and (max-width:967px) {
    .student-dashboard{
        margin-left: 0;
    }
    .table-container .pending,.approved,.rejected{
        border-radius: 10px;
        text-align: center;
        max-width: 100%;
    }
}

@media screen and (max-width: 651px) {
    .student-dashboard .container {
        width: 98%;
        height: 100%;
        display: grid;
        gap: 20px;
        grid-template-areas: "info"
            "room"
            "payment";
    }
    .container-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

footer {
    background-color: #111827;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 4rem;
}